<div class="container-fluid navbarCont">
    <nav class="navbar navbar-expand-sm navbar-white ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="assets/images/WorkFlow.png" class="logo" alt="LOGO"></a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item elementos">
                        <a class="nav-link active" routerLinkActive="active" routerLink="/"
                            aria-current="page">Inicio<span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLinkActive="active" routerLink="login" aria-current="page">
                            <button type="button" class="btn btn-primary">Iniciar Sesion</button>
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>