.tituloCont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.tituloContent {
    text-align: center;
    background: linear-gradient(to bottom,#51cbff, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
