<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-8 mb-5">
            <div class="card position-relative">
                <div class="card-body borderBlue">
                    <div>
                        <h2>Titulo</h2>
                        <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed nec semper velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                            posuere cubilia Curae;
                            Integer sagittis justo nec odio luctus, sed aliquam nulla feugiat.
                        </p>
                    </div>
                    <div class="row">
                        <label class="mb-2 mt-3">Pruebas:</label>
                        <div class="mb-3">
                            <textarea rows="4" class="form-control borderBlue"
                                placeholder="Ingrese los pasos de la solución: "></textarea>
                            <button type="button" class="btn borderBlue float-end mt-3">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 mb-5">
            <h3>Historial</h3>
            <p class="d-inline-flex gap-1">
                <a class="btn btn-primary" data-bs-toggle="collapse" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Link with href
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed
                    when the user activates the relevant trigger.
                </div>
            </div>
        </div>
    </div>
</div>
