<app-navbar></app-navbar>
<div class="container-fluid contFull">
    <div class="row">
        <div class="col-lg-8 col-md-8 formulario2" style="height: 100%;">
            <div class="formulario">
                <div class="titulo">
                    <img src="assets/images/WorkFlow.png" alt="SustentArte Logo" class="imagen2" />
                    <h4>Iniciar Sesión</h4>
                </div>
                <div class="container flu">
                    <form [formGroup]="formUser" (ngSubmit)="loginUser()">
                        <div class="row">
                            <label for="inputName" class="col-sm-4 col-form-label">Correo</label>
                            <div class="col-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <input  required="true" type="text"
                                                class="form-control input" name="Email" id="inputName"
                                                placeholder="Ingresa tu correo" />
                                        </div>
                                        <div class="col mt-2">
                                            <i class="fas fa-mail-bulk item"></i>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div>
                                <label for="inputName" class="col-sm-4 col-form-label">Contraseña</label>
                            </div>
                            <div class="col-sm-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <input  required="true" type="password"
                                                class="form-control input" name="Password" id="inputName"
                                                placeholder="Ingresa tu contraseña" />
                                        </div>
                                        <div class="col mt-2">
                                            <i class="fa fa-key item" aria-hidden="true"></i>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="">
                                <button  class="btn btn-primary btn-custom2">Iniciar Sesión</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 d-flex imagenCol" style="background: #ffffff;">
            <img src="assets/images/WorkFlow.png" alt="SustentArte Logo" class="imagen" />
        </div>  
    </div>
</div>