<app-navbar></app-navbar>
<div class="container-fluid contFull">
    <div class="row">
        <div class="col-lg-8 col-md-8 formulario2" style="height: 100%;">
            <div class="formulario">
                <div class="titulo">
                    <img src="assets/images/WorkFlow.png" alt="SustentArte Logo" class="imagen2" />
                    <h4>Iniciar Sesión</h4>
                </div>
                <div class="container flu">
                    <form [formGroup]="formUser" (ngSubmit)="login()">
                        <div class="row mb-3">
                            <label for="inputEmail" class="col-sm-4 col-form-label">Correo</label>
                            <div class="col-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <input required="true" type="text" class="form-control input" name="email" id="inputEmail" placeholder="Ingresa tu correo" formControlName="email" />
                                        </div>
                                        <div class="col mt-2">
                                            <i class="fas fa-mail-bulk item"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Contraseña</label>
                            <div class="col-sm-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <input required="true" type="password" class="form-control input" name="password" id="inputPassword" placeholder="Ingresa tu contraseña" formControlName="password"/>
                                        </div>
                                        <div class="col mt-2">
                                            <i class="fa fa-key item" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="role" class="col-sm-4 col-form-label">Rol</label>
                            <div class="col-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="role" id="adminRole" value="1" (change)="onRoleChange($event)">
                                    <label class="form-check-label" for="adminRole">Administrador</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="role" id="userRole" value="2" (change)="onRoleChange($event)">
                                    <label class="form-check-label" for="userRole">Usuario</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="">
                                <button class="btn btn-primary btn-custom2">Iniciar Sesión</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 d-flex imagenCol" style="background: #ffffff;">
            <img src="assets/images/WorkFlow.png" alt="SustentArte Logo" class="imagen" />
        </div>  
    </div>
</div>
