<app-navbar-user></app-navbar-user>
<div class="container mt-5">
        <div class="col-lg-2 col-md-3 col-6 text-center mb-3">
            <a type="button" href="adminCreateUser" class="btn btn-primary">NUEVA TAREA</a>
        </div>
    @for (inc of incidents; track $index) {

    <div class="card text-start">
        <div class="card-body">
            <h4 class="card-title">{{inc.titulo}}</h4>
            <p class="card-text">{{inc.descripcion}}</p>
            <button class="btn btn-primary btn-bottom-right">Editar</button>
        </div>
    
    </div>
}
</div>