<div class="container mt-4">
    <div class="row">
        <div class="col-3">
            <div class="input-group ms-2">
                <label class="me-3 mt-2">Área</label>
                <span class="input-group-text" id="basic-addon1">
                    <i class="fas fa-sort"></i>
                </span>
                <select class="form-select">
                    <option selected>Todos</option>
                    <option value="1">RR.HH</option>
                    <option value="2">Sistemas</option>
                    <option value="3">Contabilidad</option>
                </select>
            </div>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary float-end">
                Crear usuario
            </button>
        </div>
    </div>
    <table class="table table-bordered mt-5">
        <tbody>
            <tr>
                <th>
                    <div class="container mt-2">
                        <div class="row align-items-center">
                            <div class="col-9 m-2">
                                <label>Panchito Yeso Manteque</label> <br>
                                <label class="email">mantequegmail.com</label>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-sm btn-primary ps-5 pe-5">
                                    Ver
                                </button>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="container mt-2">
                        <div class="row align-items-center">
                            <div class="col-9 m-2">
                                <label>Panchito Yeso Manteque</label> <br>
                                <label class="email">mantequegmail.com</label>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-sm btn-primary ps-5 pe-5">
                                    Ver
                                </button>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
</div>