<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="incidencia">
                        <h2 class="tituloIncidencia">Aquí va el título de la incidencia</h2>
                        <p class="descripcionIncidencia">Descripción: "Aquí va la descripción de la incidencia"</p>
                    </div>

                    <div class="row txtAreas">
                        <textarea name="solucion" id="solucion" class="form-control" placeholder="Describe la solución"></textarea>
                    </div>
                    <div class="row txtAreas">
                        <textarea name="prueba" id="prueba" class="form-control" placeholder="Describe la prueba"></textarea>
                    </div>

                    <div class="historial">
                        <p>
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                                aria-controls="collapseExample">
                                Solución X
                            </a>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                Some placeholder content for the collapse component. This panel is hidden by default but revealed when the
                                user activates the relevant trigger.
                            </div>
                        </div>
                    </div>

                    <a
                        name=""
                        id=""
                        class="btn btn-primary"
                        href="userPanel"
                        role="button"
                        >Regresar</a
                    >
                    
                </div>
            </div>
        </div>
    </div>
</div>
