<div class="container mt-4">
    <div class="row">
        <div class="col-md-3 col-12 text-center mb-2">
            <h1>TAREAS</h1>
        </div>
        <div class="col-lg-2 col-md-3 col-6 text-center mb-2">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fas fa-sort"></i>
                </span>
                <select class="form-select">
                    <option selected>Todos</option>
                    <option value="1">Asignados</option>
                    <option value="2">En curso</option>
                    <option value="3">Finalizado</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 col-6 text-center mb-2">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fas fa-search"></i>
                </span>
                <input class="form-control me-1" type="search" aria-label="Search">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 text-center mb-3">
            <button type="button" class="btn btn-primary">NUEVA TAREA</button>
        </div>
        <div class="col-lg-2 col-md-3 col-6 text-center mb-3">
            <button type="button" class="btn btn-outline-primary">
                Cerrar sesión
            </button>
        </div>
    </div>
</div>